{
  "LoopFileCount": 1,
  "MinTimePerLine": 400,
  "MaxTimePerLine": 700,
  "ProcessingLineSuffix": "Transfer,Account Code: ###****####, Copied",
  "ProgramPrefix": "Starting Nefarious downloading of accounts",
  "ProgramSuffix": "Finished Nefarious downloading of accounts",
  "PreambleFile": "PreambleFile.txt",
  "DataFile": "DataFile.txt"
}